h1 {
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5em;
}

button {
    padding: 0.25em;
}

.filled {
    background-color: aqua;
}

#win {
    background-color: rgba(0, 255, 0, 0.8);
    border: 1px solid black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 0.5em 1em;
    width: fit-content;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#test {
    margin-top: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
