h1 {
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5em;
}

button {
    padding: 0.25em;
}

.filled {
    background-color: aqua;
}